<!DOCTYPE HTML>
<html>
    <head>
        <title>Temple Site : Registration</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <form action="/registration/site-admin" method="POST">
            <table>
                <tr>
                    <td>First Name</td><td><input name="firstname" type="text"/></td>
                    <td>Last Name</td><td><input name="lastname" type="text"/></td>
                    <td colspan="2"><input name="Submit" type="submit" value="Register"/></td>
                </tr>
            </table>
        </form>
    </body>
</html>