<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Temple Site : Registration</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <form action="/registration/site-admin" method="POST">
            <table>
                <tr>
                    <td>Site</td><td><input name="site" type="text"/></td>
                </tr>
                <tr>
                    <td>First Name</td><td><input name="firstName" type="text"/></td>
                </tr>
                <tr>
                    <td>Last Name</td><td><input name="lastName" type="text"/></td>
                </tr>
                <tr>
                    <td>Email Id</td><td><input name="emailId" type="text"/></td>
                </tr>
                <tr>
                    <td>Password</td><td><input name="password" type="password"/></td>
                </tr>
                <tr>
                    <td>Confirm Password</td><td><input name="confirmPassword" type="password"/></td>
                </tr>
                <tr>
                    <td>Mobile No</td><td><input name="mobileNo" type="mobileNo"/></td>
                </tr>
                <tr>
                    <td>UniqueId</td><td><input name="uniqueId" type="uniqueId"/></td>
                </tr>
                <tr>
                    <td>Role</td><td><input name="role" type="role"/></td>
                </tr>
                <tr>
                    <td colspan="2"><input name="Submit" type="submit" value="Register"/></td>
                </tr>
            </table>
        </form>
    </body>
</html>